<div class="container">
  <div class="title">
    <div class="profile-pic"></div>
    <div class="text">
        <h1>Noah Huffman</h1>
        <h2>Full-Stack Software Engineer</h2>
    </div>
  </div>
</div>
<div class="about">
  <h3>About Me</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero in dui lacinia, nec ultricies justo ultricies.</p>
</div>
<div class="skills">
  <h3>Skills</h3>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>
</div>
